@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+SC:wght@300&display=swap');

/**
    Footer: #050517
    Questions: #FF3366
    Accent: #99E1D9
    Accent container: #FDE8E9
    Background: #FFFFFF
    https://coolors.co/050517-dc2952-612f7d-58ddaa-99e1d9
*/

* {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0.44, #612F7D), color-stop(0.72, #5A2A76), color-stop(0.86, #71428A));
}

.navbar-toggler{
    border: none;
}

img.nav-link {
    width:7.5%;
}
