/**
    Footer: #050517
    Questions: #FF3366
    Accent: #99E1D9
    Accent container: #FDE8E9
    Background: #FFFFFF
*/

.information-article{

}

.information-article i {
    color: #58DDAA;
    font-size: 2rem;
}

.information-article hr{
    border: 1px solid #99E1D9;
}

.information-article a{
    color: #FF3366;
}

.information-article a:hover{
    transition: ease-in-out 0.3s;
    text-decoration: underline;
    color: red;
}

#about-img img
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 575px;
}

.news-hr{
    border: 1px solid #612F7D;
}

.card{
    border: 1px solid #050517;
    min-height: 400px;
    max-height: 400px;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 20px;
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
}

ol.carousel-indicators li {
    background: #B08CBE;
}

ol.carousel-indicators li.active {
    background: #612F7D;
}

.fa.fa-angle-left,
.fa.fa-angle-right{
    font-size: 2.5rem;
    color: #050517;
}

.questions-background{
    background-color: #FF3366;
}

.questions-icon{
    font-size: 2rem;
}

.questions-icon:hover {
    transition: ease-in-out 0.2s;
    color: #58DDAA;
}


@media (max-width: 767.98px) {
    #about-img img
    {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85%;
    }
}